{% extends 'poll/base.html' %}
{% block body %}
<div class="">
    <small class="text-secondary">User Registration Form</small>
    <h4 class="text-secondary">Enter New User Details</h4>
    <form method="POST">
        {% csrf_token %}
        <table class="table table-bordered table-light">
            {{poll_form.as_table}}
            {% for form in choice_forms %}
                {{form.as_table}}
            {% endfor %}
        </table>
        <br>
        <tr><td colspan="2"><button type="submit" class="btn btn-success float-right">Add New Poll</button></td></tr>
    </form>
</div>
{% endblock body %}